@page
@model DavesSite.Pages.shopModel
@{
}
<h1>Welcome to the Shoppe!</h1>
<div class="row">
    <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="~/images/shop/candle-197248_640.jpg" alt="Card image cap">
            <div class="card-body">
                
                <p class="card-text">Wow Candles</p>
                <a href="#" class="btn btn-primary btn-block">Order Candle</a>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="~/images/shop/candle-386607_640.jpg" alt="Card image cap">
            <div class="card-body">
                
                <p class="card-text">Wow Candles</p>
                <a href="#" class="btn btn-primary btn-block">Order Candle</a>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="~/images/shop/candles-4298297_640.jpg" alt="Card image cap">
            <div class="card-body">
              
                <p class="card-text">Wow Candles</p>
                <a href="#" class="btn btn-primary btn-block">Order Candle</a>
            </div>
        </div>
    </div>
</div>